{
    "user": {
        "username0": "passwd0",
        "username1": "passwd1"
    },
    "configs": {
        "cat": "choose_from_abcbefg_via_http://hitokoto.cn/",
        "add_vote_count": 2,
        "vote_control_count": 5,
        "vote_up": true,
        "vote_reply_count": 1,
        "add_topic_count": 2,
        "topic_control_count": 5,
        "topic_up": true,
        "topic_reply_count": 1
    }
}